# Para proteccion de la cadena de suministro de Node.js
ignore-scripts=true
save-exact=true
minimum-release-age=1440
trust-policy=no-downgrade
# Excluir paquetes de las protecciones anteriores
#minimum-release-age-exclude=react,react-dom